<div class="home-section">
    <utib-first-section></utib-first-section>
    <utib-second-section [offset]="scrollOffset"></utib-second-section>
    <utib-third-section [offset]="scrollOffset"></utib-third-section>
    <utib-fourth-section [offset]="scrollOffset"></utib-fourth-section>
    <utib-fiveth-section [offset]="scrollOffset"></utib-fiveth-section>
    <utib-sixth-section [offset]="scrollOffset"></utib-sixth-section>
    <utib-seventh-section [offset]="scrollOffset"></utib-seventh-section>
    <utib-eighth-section [offset]="scrollOffset"></utib-eighth-section>
</div>