.section-feature {
    position: relative;

    .features-bg {
        position: absolute;
        top: 50%;
        left: 44%;
        width: 2400px;
        transform: translate(-50%, -50%);
    }

    .feature-inner {
        position: relative;
        display: grid;
        gap: 88px;
        justify-items: center;
        padding: 80px 0px 200px;

        .title-pc {
            display: block;
        }

        .title-sp {
            display: none;
        }

        .panel-wrapper {
            display: grid;
            gap: 80px;
            justify-items: center;
            padding: 0px 24px;

            .panel {
                //animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running panel_animation;
                position: relative;
                max-width: 1000px;
                width: 100%;
                background: url('/assets/static/images/pattern/1.png') center center / cover no-repeat;
                border-radius: 40px;
                opacity: 0;

                .panel-inner {
                    grid-template-columns: 48% 1fr;
                    gap: 40px;
                    padding: 44px;
                    position: relative;
                    display: grid;
                    -webkit-box-align: start;
                    align-items: start;
                    color: rgb(0, 0, 0);

                    .panel-thumb {
                        align-self: center;
                        width: 100%;
                        border-radius: 16px;
                        background: center center / contain no-repeat;
                    }

                    .panel-thumb::before {
                        content: "";
                        display: block;
                        padding-top: 69.7%;
                    }

                    .panel-info {
                        display: grid;
                        gap: 20px;

                        .info-title {
                            font-size: 40px;
                            font-weight: bold;
                            line-height: 1;
                            padding-top: 14px;

                            span {
                                font-size: 20px;
                            }
                        }

                        .panel-line {
                            display: grid;
                            gap: 9px;
                            grid-template-columns: repeat(2, 10.12px) 1fr;

                            div {
                                width: 100%;
                                height: 6px;
                                border-radius: 3px;
                                background-color: rgb(52, 153, 151);
                            }
                        }

                        .panel-des {
                            font-size: 20px;
                            line-height: 40px;
                        }
                    }
                }
            }

            .panel::before {
                content: "";
                display: block;
                position: absolute;
                top: 12px;
                left: 12px;
                width: calc(100% - 24px);
                height: calc(100% - 24px);
                background-color: rgb(255, 255, 255);
                border-radius: 32px;
            }
        }
    }
}

.section-animations {
    .feature-inner {
        .panel-wrapper {
            .panel {
                animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running panel_animation;
            }
        }
    }
}

@import url(./fourth-section-sp.component.scss);

@keyframes title_point_animation {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes title_title_animation {
    0% {
        opacity: 0;
        clip-path: polygon(0px 0px, 0px 0px, 0px 100%, 0px 100%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);
    }
}

@keyframes panel_animation {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}