<section class="section-feature" [class]="{'section-animations': isApply}">
    <utib-wave-common></utib-wave-common>
    <img src="/assets/static/media/bg.8d951d36.png" class="features-bg">
    <div class="feature-inner">
        <utib-section-title class="title-pc" [activeData]="[3000, 4500]" [offset]="offset"
            [titleImage]="'/assets/static/images/section-title/features.png'"></utib-section-title>
        <utib-section-title class="title-sp" [isSmallImg]="true"
            [titleImage]="'/assets/static/images/section-title/features-sp.380964ab.png'"></utib-section-title>
        <div class="panel-wrapper">
            <div class="panel">
                <div class="panel-inner">
                    <div class="panel-thumb" style="background-image: url('/assets/static/media/1.6a0a421f.png');">
                    </div>
                    <div class="panel-info">
                        <div class="info-title">新ドロー<span>（iOSアプリ）</span></div>
                        <div class="panel-line">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <p class="panel-des">
                            自然な描き心地で落書きからスケッチまで何でも描ける新しいドロー機能をリリース！ 追加機能や新しい見た目で、皆さんのお絵かきをもっと楽しくします！Android版も鋭意開発中！</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-inner">
                    <div class="panel-thumb" style="background-image: url('/assets/static/media/2.1d606a64.png');">
                    </div>
                    <div class="panel-info">
                        <div class="info-title">新ドロー<span>（iOSアプリ）</span></div>
                        <div class="panel-line">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <p class="panel-des">
                            自然な描き心地で落書きからスケッチまで何でも描ける新しいドロー機能をリリース！ 追加機能や新しい見た目で、皆さんのお絵かきをもっと楽しくします！Android版も鋭意開発中！</p>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-inner">
                    <div class="panel-thumb" style="background-image: url('/assets/static/media/3.3f7bd65c.png');">
                    </div>
                    <div class="panel-info">
                        <div class="info-title">新ドロー<span>（iOSアプリ）</span></div>
                        <div class="panel-line">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <p class="panel-des">
                            自然な描き心地で落書きからスケッチまで何でも描ける新しいドロー機能をリリース！ 追加機能や新しい見た目で、皆さんのお絵かきをもっと楽しくします！Android版も鋭意開発中！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>