<section class="section-footer" [class]="{'section-animations': isApply}">
    <utib-wave-common [hideBottom]="true" [isFooter]="true"></utib-wave-common>
    <div class="footer-inner">
        <div class="utib-logo">
            <img src="/assets/static/media/sketch.7930ee53.png">
        </div>
        <h2 class="fotter-title">
            <span>さあ、</span>
            <span>いますぐ始めよう！</span>
        </h2>
        <div class="buttons-wrapper">
            <button class="button">アカウントを作成</button>
            <button class="button">ログイン</button>
        </div>
        <div class="badge-wrapper">
            <a class="badge" href="/">
                <img src="/assets/static/media/badge-appstore-ja.80698247.png" alt="App Storeからダウンロード"></a>
            <a class="badge" href="/">
                <img src="/assets/static/media/badge-googleplay-ja.c2cd6e30.png" alt="Google Playで手に入れよう"></a>
        </div>
        <p class="footer-des">
            ※新ドロー機能はVer.7.1.0以降のiOS版pixiv Sketchでお使いいただけます
            <br />
            ※ライブ配信機能は、Ver.7.0.0以降のiOS版pixiv Sketch、Ver.6.0.0以降のAndroid版pixiv Sketchでお使いいただけます（一部端末には対応しておりません）
        </p>
    </div>
</section>