<div [hidden]="hideTop" class="section-wave">
    <div class="wave first-wave"></div>
    <div class="wave second-wave"></div>
    <div class="wave third-wave"></div>
    <div [hidden]="!isFooter" class="wave-dog">
        <img src="/assets/static/media/dog.b07d5db9.png">
    </div>
    <div class="wave fourth-wave" [class]="{'footer-wave': isFooter}"></div>
</div>
<div [hidden]="hideBottom" class="section-wave">
    <div class="wave first-wave"></div>
    <div class="wave second-wave"></div>
    <div class="wave third-wave"></div>
    <div class="wave fourth-wave"></div>
</div>