.section-overview {
    display: grid;
    gap: 50px;
    justify-items: center;
    padding: 280px 0px 450px;
    background-image: url('/assets/static/images/overview/bg.jpg');

    .title-pc {
        display: block;
    }

    .title-sp {
        display: none;
    }

    .panel {
        //animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running panel_animation;
        max-width: 1512px;
        position: relative;
        width: calc(100% - 48px);
        margin: 30px 24px 0px;
        border-radius: 40px;
        background: url('/assets/static/images/pattern/1.png') center center / cover no-repeat;
        opacity: 0;

        .panel-inner {
            position: relative;
            display: grid;
            gap: 60px;
            justify-items: center;
            padding: 102px;

            .panel-title-pc {
                display: block;
                max-width: 980px;
                width: 100%;
            }

            .panel-title-sp {
                display: none;
            }

            .panel-description {
                font-size: 32px;
                font-weight: bold;
                line-height: 56px;
                text-align: center;
                color: rgb(51, 51, 51);
                white-space: pre-line;
            }

            .panel-date {
                display: grid;
                grid-auto-flow: column;
                font-size: 16px;
                line-height: 1;
                color: rgb(0, 0, 0);
                border: 4px solid rgb(255, 235, 8);
                border-radius: 16px;

                div {
                    display: grid;
                    -webkit-box-align: center;
                    align-items: center;
                    padding: 18px 34px;
                }

                div:first-of-type {
                    position: relative;
                    background-color: rgb(255, 235, 8);
                }

                div:last-of-type {
                    font-weight: bold;
                }

                div:first-of-type::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent transparent rgb(255, 235, 8);
                    border-image: initial;
                    transform: translate(100%, -50%);
                }
            }

            .panel-wrapper {
                gap: 36px;
                grid-template-columns: repeat(2, auto);
                max-width: 1200px;
                display: grid;
                width: 100%;

                .wrapper-info {
                    display: grid;
                    gap: 24px;
                    grid-template-rows: auto 1fr;
                    padding: 48px 64px;
                    border-radius: 30px;
                    background: url('/assets/static/images/overview/pattern.png') center center / cover no-repeat;

                    .info-title {
                        display: grid;
                        gap: 2px;
                        grid-auto-flow: column;
                        -webkit-box-pack: start;
                        justify-content: start;
                        -webkit-box-align: center;
                        align-items: center;
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 32px;
                        color: rgb(0, 150, 250);
                    }

                    .info-title::before {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 32px;
                        background: url('/assets/static/images/overview/link.svg') center center / contain no-repeat;
                    }

                    .info-description {
                        font-size: 16px;
                        line-height: 24px;
                        color: rgb(0, 0, 0);
                        white-space: pre-line;
                    }
                }
            }
        }
    }

    .panel::before {
        content: "";
        display: block;
        position: absolute;
        top: 12px;
        left: 12px;
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        border-radius: 33px;
        background-color: rgb(255, 255, 255);
    }

    .button {
        display: grid;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        width: 600px;
        height: 70px;
        border-radius: 35px;
        background-color: rgb(0, 150, 250);
        box-shadow: rgba(0, 0, 0, 0.25) 6px 7px 4px;
        transition: box-shadow 0.16s ease-out 0s;
    }
}

.section-animation {
    .panel {
        animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running panel_animation;
    }
}

@import url(./sixth-section-sp.component.scss);

@keyframes panel_animation {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}