<section class="section-overview" [class]="{'section-animation': isApply}">
    <utib-section-title class="title-pc" [offset]="offset" [activeData]="[9000, 10500]"
        [titleImage]="'/assets/static/images/section-title/overview.png'"></utib-section-title>
    <utib-section-title class="title-sp" [isSmallImg]="true"
        [titleImage]="'/assets/static/images/section-title/overview-sp.png'"></utib-section-title>
    <div class="panel">
        <div class="panel-inner">
            <img class="panel-title-pc" src="/assets/static/media/title.4341c777.png">
            <img class="panel-title-sp" src="/assets/static/media/title-sp.bacc2013.png">
            <div class="panel-description">
                ペン」をテーマにしたイラストを描いて投稿しよう！
                iPad Pro、Apple Pencilをプレゼント！
            </div>
            <div class="panel-date">
                <div>開催期間</div>
                <div>2020年7月30日（木）〜 2020年8月30日（日）23:59まで</div>
            </div>
            <div class="panel-wrapper">
                <div class="wrapper-info">
                    <div class="info-title">参加方法</div>
                    <div class="info-description">
                        テーマに合わせて描いたイラストに
                        指定タグ「 #ピクスケ5周年イラコン」をつけて、pixiv Sketchに投稿してください。
                    </div>
                </div>
                <div class="wrapper-info">
                    <div class="info-title">テーマ</div>
                    <div class="info-description">
                        「ペン」をテーマにしたイラストを、自由にお描きください。
                        どんな形のペンでも大丈夫。筆や鉛筆、まだ世の中にないお絵かきの道具など、発想は自由に膨らませてOKです！
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="button" href="/" style="pointer-events: auto;">イラコンに参加する</a>
</section>