@media (max-width: 800px) {
    .section-overview {
        gap: 30px !important;
        padding: calc(83.8px) 0px calc(113.8px) !important;

        .title-pc {
            display: none !important;
        }

        .title-sp {
            display: block !important;
        }

        .panel {
            max-width: 480px !important;

            .panel-inner {
                gap: 32px !important;
                padding: 45px 18px !important;

                .panel-title-pc {
                    display: none !important;
                }

                .panel-title-sp {
                    display: block !important;
                    width: 84%;
                }

                .panel-description {
                    font-size: 16px !important;
                    line-height: 24px !important;
                }

                .panel-date {
                    font-size: 12px !important;
                    line-height: 16px !important;

                    div:first-of-type {
                        white-space: pre-line !important;
                        padding: 16px 6px !important;
                    }

                    div:last-of-type {
                        padding: 16px !important;
                    }
                }

                .panel-wrapper {
                    gap: 16px !important;
                    grid-template-columns: none !important;

                    .wrapper-info {
                        gap: 12px !important;
                        padding: 22px 14px !important;

                        .info-title::before {
                            width: 27px !important;
                            height: 24px !important;
                        }
                    }
                }
            }
        }

        .panel::before {
            top: 8px !important;
            left: 8px !important;
            width: calc(100% - 16px) !important;
            height: calc(100% - 16px) !important;
        }

        .button {
            width: 280px !important;
            height: 60px !important;
            font-size: 16px !important;
        }
    }
}