<section class="section-illustrators" [class]="{'section-animations': isApply}">
    <utib-wave-common [hideTop]="true"></utib-wave-common>
    <img src="/assets/static/media/bg.6e437029.png" class="illustrators-bg">
    <div class="illustrators-inner">
        <utib-section-title class="title-pc" [offset]="offset" [activeData]="[5100, 6700]"
            [titleImage]="'/assets/static/media/appeal.b980bc65.png'"></utib-section-title>
        <utib-section-title class="title-sp" [isSmallImg]="true"
            [titleImage]="'/assets/static/images/section-title/appeal-sp.png'"></utib-section-title>
        <div class="illustrators-section">
            <div class="illustrators-sub-title">
                寺田てらライブドローイング！</div>
            <div class="illustrators-movie" id="_no-clickjacking-0" style="opacity: 1; overflow: visible;"><iframe
                    src="https://www.youtube.com/embed/qtE-fToPXJU" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
        <div class="illustrators-section">
            <div class="illustrators-sub-title">
                新ドローで描いてもらったお祝いイラスト</div>
            <div class="ill-panel-wrapper">
                <div class="ill-illust">
                    <div class="ill-inner">
                        <div class="ill-thumb">
                            <img src="/assets/static/media/1.min.2cd54f58.jpg">
                            <div class="ill-view-btn"></div>
                        </div>
                        <div class="ill-message">
                            新しいSketchは、UIがシンプルになっていて直感的に操作しやすかったです。気軽に触れるので、これから落書きやアイデア出しをしたい時に使っていきたいですね。今まではアナログがメインで、これからデジタルでも書いてみようかなという方にもおすすめ。みなさんも、まずは落書きとか、気軽に絵を描くことを楽しんでみてください！
                        </div>
                        <a href="http://www.pixiv.net/u/2764844" target="_blank" rel="noopener noreferrer"
                            class="ill-pixiv-icon"></a>
                    </div>
                    <div class="ill-name" style="background-image: url('/assets/static/media/1.04b34e8a.png');"></div>
                </div>
                <div class="ill-illust">
                    <div class="ill-inner">
                        <div class="ill-thumb"><img src="/assets/static/media/2.min.d91bb858.jpg">
                            <div class="ill-view-btn"></div>
                        </div>
                        <div class="ill-message">
                            軽快でうるさくないUIと、心地の良いSketchペンシル。あっラクガキしたいという気持ちにすぐ応えてくれました。ストレスの無い線って、良い線なんだと思います。あたらしいブラシやクリッピングなどの機能で、スケッチの幅もひろがりますね！
                        </div><a href="http://www.pixiv.net/u/27969" target="_blank" rel="noopener noreferrer"
                            class="ill-pixiv-icon"></a>
                    </div>
                    <div class="ill-name-right" style="background-image: url('/assets/static/media/2.38d89af3.png');">
                    </div>
                </div>
                <div class="ill-illust">
                    <div class="ill-inner">
                        <div class="ill-thumb"><img src="/assets/static/media/3.min.dff8bf28.jpg">
                            <div class="ill-view-btn"></div>
                        </div>
                        <div class="ill-message">
                            下書きや線画は鉛筆ツールに搭載されているもの、大まかな部分はブラシツール、細かい部分は再び鉛筆ツールを使い描いています。筆跡が綺麗に写るため、わざとペンタッチを残した状態になる小さなブラシで描いています。ペンのみを使っているため、ペン以外での描画を無効にする設定がありとても助かりました。補正機能も搭載されており一発で決められない人間としては重宝いたしました。
                        </div><a href="http://www.pixiv.net/u/2029458" target="_blank" rel="noopener noreferrer"
                            class="ill-pixiv-icon"></a>
                    </div>
                    <div class="ill-name-bottom" style="background-image: url('/assets/static/media/3.ea959d1e.png');">
                    </div>
                </div>
                <div class="ill-illust">
                    <div class="ill-inner">
                        <div class="ill-thumb"><img src="/assets/static/media/4.min.ff2cce10.jpg">
                            <div class="ill-view-btn"></div>
                        </div>
                        <div class="ill-message">
                            一新されたツールのおかげで妥協することなく仕上げることができました。軽快なドロー機能が心地よく、普段のお絵かきにも使わせていただいています。アイデアを練ったりラフを描いたりする作業が捗ります。描きためた作品をpixiv
                            Sketchに投稿するのも楽しみの一つです。コミュニティはあたたかく親切で今まで安心して利用できています。pixiv Sketch 5周年、本当におめでとうございます！</div><a
                            href="http://www.pixiv.net/u/29722917" target="_blank" rel="noopener noreferrer"
                            class="ill-pixiv-icon"></a>
                    </div>
                    <div class="ill-name-bottom-right"
                        style="background-image: url('/assets/static/media/4.7c4cc04f.png');"></div>
                </div>
            </div>
        </div>
    </div>
</section>