.section-illustrators {
    position: relative;

    .illustrators-bg {
        position: absolute;
        top: 50%;
        left: 64%;
        width: 2400px;
        transform: translate(-50%, -50%);
    }

    .illustrators-inner {
        position: relative;
        display: grid;
        gap: 88px;
        justify-items: center;
        padding: calc(418.25px) 0px 200px;

        .title-pc {
            display: block;
        }

        .title-sp {
            display: none;
        }

        .illustrators-section {
            display: grid;
            gap: 40px;
            justify-items: center;
            max-width: 1000px;
            width: calc(100% - 48px);

            .illustrators-sub-title {
                //animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_subtitle_animation;
                display: grid;
                gap: 24px;
                grid-template-columns: repeat(3, auto);
                -webkit-box-align: center;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                line-height: 40px;
                color: rgb(0, 150, 250);
                opacity: 0;
            }

            .illustrators-sub-title::before {
                transform: rotate(-28deg);
                content: "";
                display: block;
                width: 8px;
                height: 100%;
                border-radius: 4px;
                background-color: rgb(0, 150, 250);
            }

            .illustrators-sub-title::after {
                transform: rotate(28deg);
                content: "";
                display: block;
                width: 8px;
                height: 100%;
                border-radius: 4px;
                background-color: rgb(0, 150, 250);
            }

            .illustrators-movie {
                //animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_movie_animation;
                position: relative;
                width: 100%;
                background: url('/assets/static/images/pattern/1.png') center center / cover no-repeat;
                border-radius: 20px;
                opacity: 0;

                iframe {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: calc(100% - 24px);
                    height: calc(100% - 24px);
                    border-radius: 14px;
                }
            }

            .illustrators-movie::before {
                content: "";
                display: block;
                position: relative;
                padding-top: 49.7%;
            }

            .ill-panel-wrapper {
                gap: 80px 24px;
                grid-template-columns: repeat(2, 1fr);
                padding: 40px 0px;
                display: grid;
                width: 100%;

                .ill-illust {
                    //animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_illust_animation;
                    position: relative;
                    border-radius: 20px;
                    background: url('/assets/static/images/pattern/1.png') center center / cover no-repeat;
                    opacity: 0;

                    .ill-inner {
                        position: relative;
                        display: grid;
                        gap: 42px;
                        justify-items: center;
                        padding: 32px 32px 52px;

                        .ill-thumb {
                            position: relative;
                            width: 100%;
                            cursor: pointer;

                            img {
                                display: block;
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }

                            .ill-view-btn {
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                width: 68px;
                                height: 68px;
                                border: 4px solid rgb(255, 255, 255);
                                border-radius: 50%;
                                background: url('/assets/static/images/illustrators/search.svg') center center / 50% no-repeat rgb(51, 51, 51);
                                transform: translate(-50%, 50%);
                                transition: all 0.16s ease-out 0s;
                            }
                        }

                        .ill-thumb::before {
                            content: "";
                            display: block;
                            padding-top: 141.5%;
                        }

                        .ill-message {
                            font-size: 16px;
                            line-height: 32px;
                            color: rgb(51, 51, 51);
                        }

                        .ill-pixiv-icon {
                            display: block;
                            width: 60px;
                            height: 60px;
                            background: url('/assets/static/images/illustrators/pixiv.svg') center center / contain no-repeat;
                        }
                    }

                    .ill-name {
                        top: 0px;
                        transform: translateY(-66%);
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        background: left center / contain no-repeat;
                    }

                    .ill-name-bottom {
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        background: left center / contain no-repeat;
                        bottom: 0;
                        transform: translateY(66%);
                    }

                    .ill-name-right {
                        top: 0px;
                        transform: translateY(-66%);
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        background: left center / contain no-repeat;
                        background-position: right center;
                    }

                    .ill-name-bottom-right {
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        background: left center / contain no-repeat;
                        bottom: 0;
                        transform: translateY(66%);
                        background-position: right center;
                    }

                    .ill-name::before,
                    .ill-name-bottom::before,
                    .ill-name-right::before,
                    .ill-name-bottom-right::before {
                        content: "";
                        display: block;
                        padding: 7.4%;
                    }
                }

                .ill-illust:nth-of-type(2),
                .ill-illust:nth-of-type(4) {
                    transform: translateY(9%);
                }

                .ill-illust::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: calc(100% - 24px);
                    height: calc(100% - 24px);
                    border-radius: 14px;
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
}

.section-animations {
    .illustrators-inner {
        .illustrators-section {
            .illustrators-sub-title {
                animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_subtitle_animation;
            }

            .illustrators-movie {
                animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_movie_animation;
            }

            .ill-panel-wrapper {
                .ill-illust {
                    animation: 0.62s cubic-bezier(0, 0, 0.31, 1.01) 0.2s 1 normal forwards running ill_illust_animation;
                }
            }
        }
    }
}

@import url(./fiveth-section-sp.component.scss);

@keyframes ill_subtitle_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ill_movie_animation {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes ill_illust_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}