<section class="section-message" [class]="{'section-animations': isApply}">
    <utib-wave-common [hideBottom]="true"></utib-wave-common>
    <img src="/assets/static/media/bg.c946fece.png" class="message-bg-pc">
    <img src="/assets/static/media/bg-sp.34e0bfe1.png" class="message-bg-sp">
    <div class="message-cat">
        <img src="/assets/static/media/cat.4e81865b.png">
    </div>
    <div class="mess-inner">
        <div class="mess-text">
            <p>pixiv Sketchはこれからも</p>
            <p>みんなといっしょに楽しいお絵かき空間を作っていきます！</p>
            <p>5周年を迎えるpixiv Sketchをこれからもよろしくおねがいします！</p>
        </div>
        <div class="mess-share">
            <div class="share-text">share!</div>
            <div class="icon-wrapper">
                <a class="share-icon"
                    href="https://twitter.com/intent/tweet?text=pixiv Sketch5周年特設ページ%20%23pixivSketch&amp;url=https://sketch.pixiv.net/lp/5th_anniversary"
                    rel="noopener noreferrer" target="_blank"></a>
                <a class="share-icon"
                    href="https://www.facebook.com/sharer/sharer.php?u=https://sketch.pixiv.net/lp/5th_anniversary"
                    rel="noopener noreferrer" target="_blank"></a>
            </div>
        </div>
    </div>
</section>